<% if @payment.errors.any? %>
  <div class="alert alert-error alert-block">
    <h4 class="alert-heading">Could not book tickets because:</h4>
    <p>
      <ul>
        <% @payment.tickets.each do |ticket| %>
          <% ticket.errors.full_messages.each do |e| %>
            <li><%= e %></li>
          <% end %>
        <% end %>
        <% @payment.errors.full_messages.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>

<%= form_for @payment, :html => { :class => 'form-horizontal' } do |f| %>

  <% @payment.tickets.each_with_index do |ticket, i| %>
    <% i += 1 %>
    <div id="ticket_<%= i %>">
      <hr>
      <h3>Ticket <%= i %></h3>
      <%= fields_for "tickets[#{i}]", ticket do |f| %>
        <%= render :template => 'payments/_tickets', :locals => {:f => f} %>
      <% end %>
    </div>
  <% end %>
  
  <script type="text/javascript">
    window.ticket_count = <%= @payment.tickets.size %>;
  </script>
  
  <script id="ticket_template" type="text/template">
    <div id="ticket_{{count}}">
      <hr>
      <h3>Ticket {{ count }}:</h3>
      <%= fields_for "tickets[{{count}}]" do |f| %>
        <%= render :template => 'payments/_tickets', :locals => {:f => f} %>
      <% end %>
    </div>
  </script>
  
  <div id="ticket_bottom"></div>
  
  <p>
    <%= link_to_function '<i class="icon-plus"></i> Add Additional Ticket'.html_safe, "add_ticket()", :class => 'btn btn-success', :id => 'ticket_more' %>
    <%= link_to_function '<i class="icon-trash"></i> Remove Last Ticket'.html_safe, "remove_ticket()", :class => 'btn btn-danger', :id => 'ticket_delete' %>
  </p>
  
  <p id="discount" class="alert alert-success" style="font-size: 1.2em">
    Booking 8 tickets together gives a <span style="color: red"><strong>$60</strong></span> discount.
  </p>
  
  <hr>
  <h3>General Information For This Booking</h3>
  <p>Please enter an email address below to use with this booking. We will use this to identify this booking and contact you if we need to. We'll delete it after the event. We don't like spam either.</p>
  <p>Also, if you are attending with friends who already have their tickets, ask them for their table code and enter it below to let us know that you'd like to be seated with them. We will try to accomodate these requests as best we can (within the limits of finite table sizes).</p>
  <div class="control-group">
    <%= f.label 'Email', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">

    <%= f.label 'Table Name (optional).', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :table_code, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    
    <%= f.submit 'Book Tickets', :class => 'btn btn-primary' %>
    
    <%= link_to 'Cancel', root_path, :class => 'btn' %>
  </div>
<% end %>
