<div class="control-group">
  <%= f.label 'Name *', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label 'Dietary Requirements *', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :dietary_req, :class => 'text_area', :rows => 2 %>
  </div>
</div>
<div class="control-group">
  <%= f.label "Student ID *", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :student_id, :class => 'text_field'%>
  </div>
</div>
<div class="control-group">
  <%= f.label "Faculty *", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :faculty, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label 'Ticket Type', :class => 'control-label' %>
  <div class="controls">
    <%= f.select :price_id, Price.all.map {|x| [price_name(x), x.id]} %>
  </div>
</div>
