<div class="page-header">
  <h1>Payment</h1>
</div>

<p>Total Price: <strong><%= number_to_currency(@payment.price / 100) %></strong></p>

<p>Are you sure you want to make this payment?</p>

<%= form_tag({:action => 'complete', :token => params[:token], :payer_id => params[:PayerID]}, {:id => 'send_payment_form'}) do %>
  <%= submit_tag 'Complete Payment', :id => "send_payment" %>
<% end %>

<p id="send_progress" style="display: none">Please wait...</p>

<%= form_tag :action => 'cancel' do %>
  <%= submit_tag 'Cancel Payment', :class => 'btn btn-danger' %>
<% end %>
