<div class="page-header">
  <h1>Payment</h1>
</div>

<table class="table table-striped" style="font-size: 1.3em">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @payment.tickets.each do |ticket| %>
      <tr>
        <td><strong><%= ticket.name %></strong></td>
        <td><%= ticket.price.name %></td>
        <td><em><%= number_to_currency(ticket.price.price / 100) %></em></td>
      </tr>
    <% end %>
    
    <% if @payment.discounted? %>
      <tr>
        <td colspan="2">
          Discount
        </td>
        <td>
          <strong>-<%= number_to_currency(4800 / 100) %></strong>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <td colspan="2">
        Total Price
      </td>
      <td>
        <strong><%= number_to_currency(@payment.price / 100) %></strong>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="pgc.paypal@arc.unsw.edu.au">
    <input type="hidden" name="lc" value="AU">
    <input type="hidden" name="currency_code" value="AUD">
    <input type="hidden" name="item_name" value="PGC Ball Tickets (order number <%= @payment.id %>)">
    <input type="hidden" name="amount" value="<%= @payment.price/100 %>">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online." class="paypal-buynow-button">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">

  </form>
  <p>
    You will be redirected to the Paypal site to pay. After the payment clears, we will send you an email with your tickets. If you don't hear from us in 3-5 business days, please contact pgc.info@arc.unsw.edu.au so we can check your payment details and send you your tickets.
  </p>

</p>

<hr>
