<div class="page-header">
  <h1>Payment</h1>
</div>

<table class="table table-striped" style="font-size: 1.3em">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @payment.tickets.each do |ticket| %>
      <tr>
        <td><strong><%= ticket.name %></strong></td>
        <td><%= ticket.price.name %></td>
        <td><em><%= number_to_currency(ticket.price.price / 100) %></em></td>
      </tr>
    <% end %>
    
    <% if @payment.discounted? %>
      <tr>
        <td colspan="2">
          Discount
        </td>
        <td>
          <strong>-<%= number_to_currency(6000 / 100) %></strong>
        </td>
      </tr>
    <% end %>
    
    <tr>
      <td colspan="2">
        Total Price
      </td>
      <td>
        <strong><%= number_to_currency(@payment.price / 100) %></strong>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Pay via PayPal", GATEWAY.redirect_url_for(@paypal_token.token), :class => 'btn btn-large btn-primary' %>
  
  <%= form_tag :action => 'cancel' do %>
    <%= submit_tag 'Cancel Payment', :class => 'btn btn-danger btn-danger' %>
  <% end %>
</p>

<hr>
